html {
  scroll-behavior: smooth;
}

body {
  font-family: "fira sans", sans-serif, Arial;
  margin: 0px;
  color: #141414;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
  /* body {
    overflow: hidden;
  } */
}
